/* Style du corps de la page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #000;
    color: #f5f5f5;
    display: flex;
    height: 100vh;
}

/* Style des titres h1 */
h1 {
    text-align: center;
    transform: rotate(-2deg);
    margin: 0.75rem 0;
    font-size: 1.5rem;
}

/* Style du conteneur principal */
.container {
    display: flex;
    width: 100%;
}

/* Style de la barre latérale */
.sidebar {
    background-color: #000;
    padding: 0.7rem;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style du titre dans la barre latérale */
.sidebar .title {
    color: #fcd34d;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

/* Style des formulaires */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Style des champs de saisie */
input {
    padding: 0.5rem;
    margin-bottom: 0.75rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #333;
    color: #f5f5f5;
    font-size: 0.875rem;
}

/* Style du groupe de boutons */
.button-group {
    display: flex;
    justify-content: space-between;
    gap: 0.2rem;
    margin-top: 0.75rem;
}

/* Style des boutons */
button {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 0.875rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Style du bouton effacer */
#effacerTexte {
    background-color: #e53935;
}

/* Style du bouton effacer au survol */
#effacerTexte:hover {
    background-color: #d32f2f;
    transform: rotate(2deg);
}

/* Style du bouton enregistrer */
#enregistrer {
    background-color: #43a047;
}

/* Style du bouton enregistrer au survol */
#enregistrer:hover {
    background-color: #388e3c;
    transform: rotate(-2deg);
}

/* Style des post-its */
.postits {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.75rem;
    padding: 0.75rem;
    background-color: #ffffff;
    border: 0.25rem solid #a9a7a7;
    box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.3);
}

/* Style d'un post-it */
.postit {
    position: relative;
    background-color: #ffeb3b;
    padding: 0.75rem;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #000;
    transform: rotate(calc(-3deg + (6deg * var(--rotation))));
    transition: transform 0.3s ease, scale 0.3s ease;
    overflow: hidden;
    cursor: pointer;
    font-size: 0.875rem;
}

/* Style d'un post-it au survol */
.postit:hover {
    transform: rotate(calc(-3deg + (6deg * var(--rotation)))) scale(1.02);
}

/* Style d'un post-it actif */
.postit.active {
    transform: scale(1.02) rotate(0deg);
    z-index: 10;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    position: relative;
}

/* Style des titres et paragraphes dans un post-it */
.postit h3,
.postit p {
    pointer-events: none;
}

/* Style des titres et paragraphes dans un post-it actif */
.postit.active h3,
.postit.active p {
    pointer-events: auto;
    font-size: 0.9rem;
}

/* Style des pseudo-éléments avant et après d'un post-it */
.postit::before,
.postit::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 5%;
    height: 5%;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    z-index: 0.5;
}

/* Style du pseudo-élément avant d'un post-it */
.postit::before {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Style du pseudo-élément après d'un post-it */
.postit::after {
    box-shadow: -0.15rem 0.15rem 0.3rem rgba(0, 0, 0, 0.25);
    transform: translate(0.15rem, -0.15rem);
}

/* Style du bouton supprimer un post-it */
.supprimerPostit {
    background-color: #e53935;
    color: #fff;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 1%;
    left: 1%;
    font-size: 0.75rem;
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
    border-radius: 10%;
}

/* Style du bouton supprimer un post-it au survol */
.supprimerPostit:hover {
    background-color: #d32f2f;
    transform: rotate(-5deg);
}

/* Style du bouton valider les modifications */
.validerModifs {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: #43a047;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}